In [1]:
from univariate_eda import univariate_eda_interact
import pandas as pd
import seaborn as sns

# Example 1: Tips

In [2]:
data_tips = sns.load_dataset('tips')
data_tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
univariate_eda_interact(data_tips)

interactive(children=(Dropdown(description='column', options=('total_bill', 'tip', 'sex', 'smoker', 'day', 'tiâ€¦

# Example 2: Trump Tweets

https://www.kaggle.com/austinreese/trump-tweets

In [4]:
data_trump = pd.read_csv('data/raw/trump_tweets.csv')
data_trump = data_trump.astype({
    'date': 'datetime64[ns]',
    'content': 'string',
    'mentions': 'string',
    'hashtags': 'string'
});
data_trump_trump'mentions'] = data_trump['mentions'].apply(lambda x: x.split(',') if not pd.isnull(x) else x)
data_trump['hashtags'] = data_trump['hashtags'].apply(lambda x: x.split(',') if not pd.isnull(x) else x)
data_trump.head()

SyntaxError: invalid syntax (<ipython-input-4-fe8fa46cd662>, line 8)

In [ ]:
univariate_eda_interact(data_trump)

# Example 3: GDPR Violations

In [ ]:
data_gdpr = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-04-21/gdpr_violations.tsv", 
                    sep='\t')
data_gdpr = data_gdpr.astype({
    'date': 'datetime64[ns]',
    'name': 'category',
    'summary': 'string',
    'controller': 'category',
    'article_violated': 'string',
    'source': 'category',
    'authority': 'category',
    'picture': 'category',
    'summary': 'string',
    'type': 'category'
});
data_gdpr['article_violated'] = data_gdpr['article_violated'].apply(lambda x: x.split('|'))

In [ ]:
univariate_eda_interact(data_gdpr)